body {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background: var(--tg-theme-bg-color);
}

button {
  border: none;
  outline: none;
}

.btn {
  background-color: #fff2;
  border: 1px solid #fff2;
  color: white;
  border-radius: 2vw;
  backdrop-filter: blur(5 vw);
}
.btn-pri {
  height: 48px;
  font-size: 18px;
}
.btn-sec {
  height: 32px;
  font-size: 16px;
}
.buttons-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.btn-thr {
  height: 32px;
  font-size: 14px;
  padding-inline: 4vw;
}